.icon-oval > p {
    line-height: 20px;
    margin-top: 10px;
}
.profile-bg {
    height: 400px;
}
.row-height {
    height: 350px;
}
.marg-top-50 {
    margin-top: 50px;
}
.icon-oval.active > p {
    color: #0670B4;
}
.flex-box > div {
    /* width: 400px; */
}
.flex-box > div > h4 {
    color: #4A6480;
}
.first-row {
    display: flex;
}
.first-row > div {
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
    background-color: #FAFAFA;
    margin-bottom: 6.6px;
    padding: 20px;
    margin-right: 1%;
}
.first-row > div > h5 {
    color: #172B4D;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}
.create-announcement {
    background-color: #FFF6D6 !important;
    margin-right: 1%;
}
.create-announcement > p > span {
    margin-right: 10px;
}
.form-textarea {
    resize: none;
    width: 100%;
    border: 1px solid #D8D8D8;
    font-size: 12px;
    color: #707070;
    padding: 10px;
}
.btn-publish {
    background-color: #32B6A6;
    border-radius: 0;
    font-size: 11px;
    color: #FFF;
}
.btn-previous {
    background-color: #0670B4;
    border-radius: 0;
    font-size: 11px;
    color: #FFF;
}
.gender-type {
    background-color: #FAFAFA;
}
.gender-type > p {
    font-size: 13px;
    text-align: center;
}
.gender-type-container {
    display: flex;
}
.gender-type-container > div {
   text-align: center;
   width: 50%;
}
.gender-type-container > div > h6 {
    margin: 10px 0;
    font-weight: 500;
}
.gender-type-container > div > p {
    font-size: 14px;
}
.female > h6 {
    color: #B40606;

}
.male > h6 {
    color: #0670B4;
}
.remove-oval {
    position: absolute;
    top: -15px;
    right: 0;
    cursor: pointer;
}
.edit-oval {
    position: absolute;
    bottom: -15px;
    right: 15px;
    cursor: pointer;
}