*{
    font-family: 'Poppins', sans-serif;
}
.icon-oval > p {
    line-height: 20px;
    margin-top: 10px;
}
.icon-oval.active > p {
    color: #0670B4;
}
.flex-box > div {
     width: 400px;
}
.head-title > h3 {
    text-align: center;
    color: #0E0E0E;
    font-size: 28px;
    font-weight: 800;
}
.ps-special-text{
    /* margin-top: 157px; */
}
.ps-special-text > h2{
    font-size: 28px;
    font-weight: bold;
    margin: 26px 0 80px 0;
}
.container-efilling{
    background-color: #F5F5F5;
    box-shadow: rgba(0,0,0,0.14);
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.container-efilling > a{
    font-size: 24px;
    color: #2577AC;
}
.row-tab-function{
    /* position: absolute;
    width: 100%;
    top: 250px; */
}
.btn-view{
    background-image: url(../svg/eye.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2577AC;
    width: 31px;
    height: 31px;
    border-radius: 0;
    transition: all .3s;
}
.btn-view:hover {
    position: relative;
    top: -1px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
    transition: all .3s;
}
.table-payslip > thead > tr > th{
    color: #565656;
    font-size: 14px;
    font-weight: normal;
    background-color: #F1F3F9;
}
.table-payslip > tbody > tr > td{
    color: #6D6D6D;
    font-size: 14px;
    font-weight: normal;
    border-top: 0;
}
.table-payslip tbody tr:nth-of-type(odd){
    background-color: #FFF;
}
.table-payslip tbody tr:nth-of-type(even){
    background-color: #F7FAFC;
}
.select-range-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 30px 0;
}
.select-range-container > p{
    font-size: 18px;
    font-weight: bold;
    color: #2C2C2C;
    width: 100%;
    margin: 0;
}
.select-range-container > small{
    font-size: 12px;
    color: #000000;
    font-weight: 100;
    margin: 0 20px;
}
.form-date{
    background-image: url(../svg/calendar.svg);
    background-repeat: no-repeat;
    background-position: center right 10px;
    width: 180px;
    border-radius: 0;
    cursor: pointer;
}
.btn-download-section{
    text-align: center;
    margin: 20px 0;
}
.btn-download{
    background-color: #1D75AE;
    border-radius: 0;
    color: #FFF;
    text-transform: uppercase;
    transition: all .3s;
}
.btn-download[disabled]{
    background-color: #C1C1C1;
    transition: all .3s;
}
.left-sidebar-fixed h6 {
    top: 50px;
}
.calculator-div {
    max-width: 500px;
    margin: auto;
}
.calculator-div > label {
    display: inline-block;
    width: 30%;
    margin-bottom: 15px;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
.calculator-div > input {
    display: inline-block;
    width: 60%;
    border-radius: 0;
}
.btn-go {
    background-color: #2577AC;
    color: #FFF;
    border-radius: 0;
    width: 115px;
    margin-top: 10px;
}
.salary-statement {
    background-color: #FFF;
    border-radius: 0;
    width: 468px;
    margin: 10px auto 30px auto;
    padding: 10px;
}
.salary-statement > h4 {
    font-weight: bold;
    font-size: 18px;
}
.table-statement {
    width: 35%;
    margin: 10px auto; 
}
.table-statement > tbody > tr > td {
    font-weight: normal;
    font-size: 14px;
    color: #000;
    text-align: left;
}
.table-statement > tbody > tr > td:last-child {
    color: #2577AC;
    font-weight: bold;
}

.table-statement2 {
    width: 100%;
    margin: 10px 0;
}
.table-statement2 > thead > tr > th {
    font-weight: 500;
    font-size: 14px;
    color: #000;
    text-align: right;
}
.table-statement2 > tbody > tr > td {
    font-weight: normal;
    font-size: 14px;
    color: #000;
    text-align: right;
}
.table-statement2 > tbody > tr > td:first-child {
    text-align: left;
}
.total {
    height: 50px;
}
.carousel-item > div {
    text-align: center;
}
.expand-button {
    margin-top: -50px;
    box-shadow: none;
}